/* Login Section Start */

.login-form
{
	padding: 80px;
}
.login-know
{
	border-radius: 150px;
	font-size: 18px;
	padding: 15px;
}
.form-input1
{
	padding: 5px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-radius: 0px;
}
.form-input1:focus{
        box-shadow: none;
    }




.login-btn
{
	width: 100%;
	padding: 10px;
	font-size: 20px;
	border-radius: 0px;
	box-shadow: 0 0 10pxlightgrey;
	margin-top: 20px;
}
.login-link:hover
{
	cursor: pointer;
}
.line1
{
	height: 5px;
	background-color: #000080;
	width: 60px;
	margin:auto;
}
.line2
{
	height: 4px;
	background-color: white;
	width: 120px;
}
/* Login Section End */

/* Responsive Start */

@media only screen and (max-width: 768px) {

	.login-content
{
	padding: 25px;
}
.login-form
{
	padding: 25px;
}
}